<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortner</title>
    <style>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="container d-flex justify-content-between">
            <h1>URL Shortener</h1>
            <button class="signoutBtn btn btn-primary" id="signoutBtn" onclick="actionSignout()">Sign Out</button>
        </div>
        <div class="form-group col justify-content-center">
            <input type="url" placeholder="URL" required name="fullurl" id="fullurlInput" class="form-control col mr-2">
            <button type="button" class="btn btn-success" onclick="generateShortUrl()">Shrink</button>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URl</th>
                    <th>Short URl</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody id="urlTable">
            </tbody>
        </table>
    </div>
</body>
<script>
    window.onload = () => {
        token = window.localStorage.getItem("token");
        if (token) {
            var http = new XMLHttpRequest();
            http.open("POST", "/signin/check", true);
            let data = {
                "token": token
            }
            data = JSON.stringify(data);
            http.setRequestHeader('Content-type', 'application/json');
            http.onload = () => {
                if (http.status == 200) {
                    getData();
                }
                else {
                    window.location.href = "/signin";
                }
            }
            http.send(data);
        }
        else {
            window.location.href = "/signin";
        }
    }
    function getData() {
        var http = new XMLHttpRequest();
        token = window.localStorage.getItem("token");
        http.open("POST", "/getdata", true);
        let data = {
            "token": token
        }
        data = JSON.stringify(data);
        http.setRequestHeader('Content-type', 'application/json');
        http.onload = () => {
            if (http.status == 200) {
                data = JSON.parse(http.responseText)
                renderData(data);
            }
            else {
                alert("Some Error Occured while loading data");
            }
        }
        http.send(data);
    }
    function renderData(data) {
        var table = document.getElementById("urlTable");
        data.map((urls, index) => {
            var tr = document.createElement("tr");
            table.appendChild(tr);

            var td1 = document.createElement("td");
            tr.appendChild(td1);
            var link = document.createElement("a");
            link.href = urls.full;
            link.innerHTML = urls.full;
            td1.appendChild(link);

            var td2 = document.createElement("td");
            tr.appendChild(td2);
            var link2 = document.createElement("a");
            link2.href = urls.short;
            link2.innerHTML = urls.short;
            td2.appendChild(link2);

            var td3 = document.createElement("td");
            tr.appendChild(td3);
            td3.innerHTML = urls.clicks;

            var deleteBtn = document.createElement("button");
            tr.appendChild(deleteBtn);
            deleteBtn.className = "btn btn-outline-danger"
            deleteBtn.setAttribute("onclick", `deleteShortUrl("${urls.short}")`);
            deleteBtn.innerHTML = "X";
        })

    }

    function generateShortUrl() {
        var fullurl = document.getElementById("fullurlInput").value;
        var url = document.createElement('a');
        url.href = fullurl;
        if (url.hostname != 'localhost' && url.hostname != "") {
            var http = new XMLHttpRequest();
            http.open('POST', '/shortenUrl', true);
            let data = {
                "token": window.localStorage.getItem("token"),
                "fullurl": fullurl
            }
            data = JSON.stringify(data);
            http.setRequestHeader('Content-type', 'application/json');
            http.onload = () => {
                if (http.status == 200) {
                    window.location.href = '/';
                    // console.log(http.responseText);
                }
                else {
                    alert("could not shorten the url Please Try Again!!");
                }
            }
            http.send(data);
        }
        else {
            alert("Enter a valid url");
        }
    }
    function actionSignout() {
        window.localStorage.clear();
        window.location.href = '/signin';
    }
    function deleteShortUrl(shorturl) {
        if (shorturl == null) return
        var http = new XMLHttpRequest();
        http.open('POST', '/deleteShorturl', true);
        let data = {
            "token": window.localStorage.getItem("token"),
            "shorturl": shorturl
        }
        data = JSON.stringify(data);
        http.setRequestHeader('Content-type', 'application/json');
        http.onload = () => {
            if (http.status == 200) {
                window.location.href = '/';
            }
            else {
                alert("could not delete the url Please Try Again!!");
            }
        }
        http.send(data);
    }
</script>

</html>
